[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = master
[submodule "lua"]
	path = lua
	url = https://github.com/lua/lua.git
	branch = v5.4.0
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "entt"]
	path = entt
	url = https://github.com/skypjack/entt
